/*********************************
Normalize CSS and general and 
common settings
*********************************/

html {
  font-size: 100%;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

@font-face {font-family: maseo;
            src: url(maseo.ttf);
}