/*********************************
Normalize CSS and general and 
common settings
*********************************/

html {
  font-size: 100%;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

@font-face {font-family: maseo;
            src: url(maseo.ttf);
}

body {
  background: #000;
  color: #fff;
}

.page-wrapper * {
  font-family: maseo;
  text-align: center;
}

/*********************************
Header section
*********************************/

header {
  text-transform: uppercase;
}

h1 {
  margin: 0.35em 0;
  font-size: 3em;
  font-weight: 1000;
  line-height: 1em;
}

h2 {
  margin: 0.2em;
  font-weight: 900;
}

