/*********************************
Normalize CSS and general and 
common settings
*********************************/

html {
  width: 100%;
  height: 100%;
  font-size: 100%;
  font-family: sans-serif;
}

html * {
  box-sizing: border-box;
}

@font-face {font-family: maseo;
            src: url(maseo.ttf);
}

body::before {
  content: "";
  display: block;
  width: 26%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: url(i/bg1.svg) left top / 156px no-repeat fixed;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
}

body::after {
  content: "";
  display: block;
  width: 33.3%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;  /*hiding the right crane when width < 400px*/
}

.page-wrapper * {
  font-family: maseo;
  text-align: center;
}

@media (min-width: 400px) {
  body {
    background: url(i/hook3.svg) 50% 200% / 300px no-repeat fixed,
              #333 url(i/bg.png) bottom / 100% auto no-repeat fixed;
  }

  body::after {
    background: url(i/bg2.svg) right top / 180px no-repeat fixed;
  }

  .page-wrapper::before {
    content: "";
    display: block;
    width: 100%;
    height: 2em;
    position: relative;
    top: -2em;
    background: url(i/layer-frame.svg) center top no-repeat;
  }

  .page-wrapper {
    width: 360px;
    position: relative;
    margin: 7.5em auto 0;
    background: url(i/layer-middle.svg);
    animation-name: on-load-400;
    animation-duration: 1.5s;
  }
}

@media (max-width: 600px) {
  body::before {
    display: none;
  }
  
  body::after {
    background: url(i/bg2.svg) right top / 135px no-repeat fixed;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  body {
    background: url(i/hook3.svg) left 60.4px top -190px / 38% repeat-y,
                url(i/hook3.svg) right 60.4px top -190px / 38% repeat-y,
              #333 url(i/bg.png) bottom / 100% auto no-repeat fixed;
  }
  
  .page-wrapper::before {
    display: none;
  }
  
  div.page-wrapper {
    width: 800px;
    background: initial;
    margin: 0 auto;
    animation-name: on-load-800;
    animation-duration: 1.5s;
  }

  section {
    position: initial;
    padding: 5em 30.4px;
  }
}

@media (min-width: 1367px) {
  /* html { */
  /*   overflow: hidden; */
  /* } */

  body::before {
    background: url(i/bg1.svg) left top / 300px no-repeat fixed;
  }

  body::after {
    background: url(i/footer.svg) left 445px top 95px / 22% no-repeat,
                url(i/bg2.svg) right top / 300px no-repeat fixed;
  }

  .page-wrapper {
    background: initial;
    animation: none;
  }

  .page-wrapper::before {
    display: none;
  }
}

/*********************************
Header section
*********************************/

header {
  text-transform: uppercase;
}

h1 {
  margin: 0.45em 2em;
  font-size: 2.8em;
  line-height: 1em;
}

h2 {
  margin: 0.4em;
  font-size: 1.6em;
  line-height: 1em;
}

@media (min-width: 400px) {
  section {
    position: relative;
    bottom: 0.8em;
  }

  h1,
  h2{
    margin: 0;
  }

  h1 {
    padding: 0 0 0.2em 0;
  }

  h2 {
    padding: 0.4em 3em;
  }
}

@media (min-width: 800px) {
  header {
    width: 360px;
    position: relative;
    margin-right: 19px;
    float: left;
    background: url(i/layer-middle.svg) center top / 100%;
  }

  header {
    margin-bottom: 4.3em;
  }

  header::before {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: 0;
    background: url(i/layer-frame.svg) center top / 100% no-repeat;
  }

  header::after {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: -32px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  h1 {
    padding-top: 20px;
  }

  h2 {
    padding: 20px 3em;
  } 
}

@media (min-width: 1367px) {
  body {
    background: #333 url(i/bg.png) bottom / 100% auto no-repeat fixed;
  }

  header {
    width: 360px;
    position: relative;
    top: -35px;
    left: 42px;
    margin-right: 19px;
    padding: 2em 0;
    float: left;
    background: url(i/layer-middle.svg) center top / 100%;
    transition: top 1.5s,
                transform 1.2s 1.5s;
  }

  header::before {
    content: "";
    display: inline-block;
    width: 360px;
    height: 400px;
    position: absolute;
    top: -400px;
    right: 0;
    background: url(i/hook3.svg) center bottom / 80% no-repeat,
                url(i/layer-frame.svg) left 0 top 368px / 100% no-repeat;
  }

  header::after {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: -32px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  header:hover {
    top: 175px;
    transform: scale(1.25, 1.25);
  }

  h1 {
    padding: 0 0 0.4em;
    font-size: 3em;
  }

  h2 {
    padding: 0;
    font-size: 0.8em;
  }
}

/*********************************
Summary, preamble, main formatting
*********************************/

.summary,
.preamble,
.main div {
  margin: 0;
  padding: 0em 0.7em;
  font-size: 1.24em;
}

.summary {
  padding: 0 1em;
}

p {
  margin: 0.6em 0;
  line-height: 1.1em;
}

.intro a,
.main a {
  padding: 0 3px;
  border-radius: 2px;
  background: #fff;
  color: #000;
  text-decoration: none;
}

.preamble h3,
.main h3 {
  text-transform: uppercase;
  line-height: 1em;
}

@media (min-width: 400px) {
  .summary,
  .preamble,
  .main div {
    padding: 0em 3.1em;
  }

  .summary p:last-child {
    padding-top: 0.9em;
  }
  
  .preamble h3,
  .main h3 {
    margin: 0;
    padding: 0.6em 0;
  }  

  p {
    margin: 0;
    padding: 0.25em 0;
    line-height: 1.15em;
  }

  .requirements p:last-child a:last-child {
    display: inline-block;
    width: 88%;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .preamble,
  section div,
  .explanation,
  .participation,
  .benefits,
  .requirements h3,
  .requirements p {
    width: 360px;
    position: relative;
    margin-right: 19px;
    float: left;
    background: url(i/layer-middle.svg) center top / 100%;
  }

  .summary {
    margin-bottom: 3.8em;
  }

  .preamble {
    margin-top: 0.68em;
  }

  div.explanation {
    margin-bottom: 4.5em;
  }

  div.participation {
    margin-right: 17.5px;
    margin-left: 32px;
  }

  div.benefits {
    margin-bottom: 4.5em;
  }

  div.requirements {
    padding: 0;
  }

  div.requirements h3 {
    margin-bottom: 4em;
  }

  div.requirements h3,
  div.requirements p {
    padding: 0.7em 3.3em;
  }

  div.requirements p:nth-last-child(5) {
    margin-bottom: 4.5em;
  }

  div.requirements p:nth-last-child(4) {
    margin-left: 32px;
  }

  div.requirements p:nth-last-child(3) {
    margin-bottom: 4.5em;
  }

  div.requirements p:nth-last-child(2) {
    margin-bottom: 4.5em;
  }

  div.requirements p:nth-last-child(1) {
    margin-left: 32px;
  }

  .summary::before,
  .preamble::before,
  .explanation::before,
  .participation::before,
  .benefits::before,
  .requirements h3::before,
  .requirements p::before {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: 0;
    background: url(i/layer-frame.svg) center top / 100% no-repeat;
  }

  .summary::after,
  .preamble::after,
  .explanation::after,
  .participation::after,
  .benefits::after,
  .requirements h3::after,
  .requirements p::after {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: -32px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  .main h3 {
    padding-bottom: 0;
  }

  .intro p,
  .main p {
    padding: 20px 0.2em 0 0.2em;
  }

  .intro p:last-child,
  .main p:last-child {
    padding-bottom: 20px;
  } 
}

@media (min-width: 1367px) {
  .summary {
    width: 360px;
    position: absolute;
    top: -260px;
    left: 285px;
    padding: 1.5em 3em;
    background: url(i/layer-middle.svg) center top / 100%;
    transform: skewY(4.5deg);
    transition: top 1.5s,
                left 1s 1.5s,
                transform 1.5s;
    z-index: 1;
    }

  .summary:hover {
    top: 100px;
    left: 250px;
    transform: scale(1.2, 1.2) skewY(0);
  }

  .summary::before{
    content: "";
    display: inline-block;
    width: 360px;
    height: 435px;
    position: absolute;
    top: -434px;
    left: 0;
    background: url(i/hook2.svg) left 160px bottom 25px / 12% no-repeat,
                url(i/layer-frame.svg) left 0 top 400px / 100% no-repeat;
  }

  .summary::after {
    content: "";
    display: inline-block;
    width: 360px;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: -35px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  .preamble {
    width: 420px;
    position: absolute;
    top: -600px;
    left: -370px;
    padding: 1em 3em;
    background: url(i/layer-middle.svg) center top / 100%;
    z-index: 3;
    transform: skewY(-5deg);
    transition: top 1.2s,
                left 1s 1.2s,
                transform 1.2s;
  }

  .preamble:hover {
    top: 30px;
    left: -280px;
    transform: scale(1.1, 1.1) skewY(0);
  }

  .preamble::before{
    content: "";
    display: inline-block;
    width: 420px;
    height: 435px;
    position: absolute;
    top: -434px;
    left: 0;
    background: url(i/hook1.svg) left 180px bottom 25px / 12% no-repeat,
                url(i/layer-frame.svg) left 0 top 400px / 100% no-repeat;
  }

  .preamble::after {
    content: "";
    display: inline-block;
    width: 420px;
    height: 35px;
    position: absolute;
    left: 0;
    bottom: -35px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  .summary p {
    padding: 0;
    font-size: 0.8em;
  }

  div.preamble * {
    padding: 0.25em 0;
  }

  div.preamble p {
    font-size: 0.95em;
  }

  .main {
    width: 550px;
    height: 380px;
    position: absolute;
    top: 60px;
    left: 330px;
    background: url(i/layer-middle.svg) center top / 100%;
    transform: perspective(1000px) rotateY(-40deg);
    animation: main-transition-in-1367 1.5s ease-out,
               main-transition-out-1367 1.5s 59s;
  }

  .main::before{
    content: "";
    display: inline-block;
    width: 550px;
    height: 535px;
    position: absolute;
    top: -534px;
    left: 0;
    background: url(i/hook3.svg) left 105px bottom 0px / 63% no-repeat,
                url(i/layer-frame.svg) left 0 top 486px / 100% no-repeat;
  }

  .main::after {
    content: "";
    display: inline-block;
    width: 550px;
    height: 50px;
    position: absolute;
    bottom: -50px;
    left: 0;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }

  .requirements,
  .explanation,
  .participation,
  .benefits {
    width: 100%;
    position: absolute;
  }
  
  .requirements *,
  .explanation *,
  .participation *,
  .benefits * {
    opacity: 0;
  }

  .main div {
    padding: 0;
  }

  .main div h3 {
    margin-top: 0.5em;
  }

  .main div p {
    display: block;
    position: absolute;
    margin: 0 3.5em;
  }

  div.explanation h3 {
    animation: main-content-1367 11.5s;
  }

  div.explanation p:nth-of-type(1),
  div.explanation p:nth-of-type(1) * {
    animation: main-content-1367 6s;
  }

  div.explanation p:nth-of-type(2) {
    animation: main-content-1367 6s ease-in 5.5s;
  }

  div.participation h3 {
    animation: main-content-1367 17s 10.5s;
  }

  div.participation p:nth-of-type(1),
  div.participation p:nth-of-type(1) * {
    animation: main-content-1367 6s ease-in 10.5s ;
  }

  div.participation p:nth-of-type(2),
  div.participation p:nth-of-type(2) * {
    animation: main-content-1367 6s ease-in 16s;
  }

  div.participation p:nth-of-type(3),
  div.participation p:nth-of-type(3) * {
    animation: main-content-1367 6s ease-in 21.5s;
  }

  div.benefits h3 {
    animation: main-content-1367 6s 26.5s;
  }

  div.benefits p:nth-of-type(1),
  div.benefits p:nth-of-type(1) * {
    animation: main-content-1367 6s ease-in 26.5s;
  }

  div.requirements h3 {
    animation: main-content-1367 28s 31.5s;
  }

  div.requirements p:nth-of-type(1),
  div.requirements p:nth-of-type(1) * {
    animation: main-content-1367 6s ease-in 31.5s;
  }

  div.requirements p:nth-of-type(2),
  div.requirements p:nth-of-type(2) * {
    animation: main-content-1367 6s ease-in 37s;
  }

  div.requirements p:nth-of-type(3),
  div.requirements p:nth-of-type(3) * {
    animation: main-content-1367 6s ease-in 42.5s;
  }

  div.requirements p:nth-of-type(4),
  div.requirements p:nth-of-type(4) * {
    animation: main-content-1367 6s ease-in 48s;
  }

  div.requirements p:nth-of-type(5),
  div.requirements p:nth-of-type(5) * {
    animation: main-content-1367 5.5s ease-in-out 53.5s;
  }

  .main abbr {
    color: #fff;
  }
  
  .main.supporting [role="article"] p a {
    width: initial;
    padding: 0;
  }
}

/*********************************
Footer Section
*********************************/

.main footer {
  display: inline-block;
  margin: 0 0.7em;
  font-size: 1.25em;
  text-align: left;
}

.main footer a  {
  padding-left: 0;
  background: initial;
  color: #fff;
}

footer a::after {
  margin-bottom: 0.4em;
  padding-left: 2px;
  border-radius: 2px;
  background: #fff;
  color: #000;
  text-align: left;
}

footer a:nth-child(1)::after {
  content: "Check the validity of this site's HTML";
  display: inline-block;
  width: 100%;
}

footer a:nth-child(2)::after {
  content: "Check the validity of this site's CSS";
  display: inline-block;
  width: 100%;
}

footer a:nth-child(3)::after {
  content: "View the Creative Commons license of this site: Attribution-NonCommercial-ShareAlike.";
  display: inline-block;
  width: 100%;
}

footer a:nth-child(4)::after {
  content: "Read about the accessibility of this site";
  display: inline-block;
  width: 100%;
}

footer a:nth-child(5)::after {
  content: "Fork this site on Github";
  display: inline-block;
  width: 100%;
}

@media (min-width: 400px) {
  .main footer {
    padding: 0.5em 2.5em;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .main footer {
    width: 360px;
    position: relative;
    margin: 0;
    float: left;
    background: url(i/layer-middle.svg) center top / 100%;
  }

  footer::before {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    top: -32px;
    right: 0;
    background: url(i/layer-frame.svg) center top / 100% no-repeat;
  }

  footer::after {
    content: "";
    display: inline-block;
    width: 360px;
    height: 32px;
    position: absolute;
    right: 0;
    bottom: -32px;
    background: url(i/layer-frame.svg) center bottom / 100% no-repeat;
  }
}

@media (min-width: 1367px) {
  .main footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    position: fixed;
    top: -160px;
    right: -350px;
    transform: scale(0.7, 0.7); 
  }

  .main footer a {
    display: block;
    position: relative;
    z-index: 3;
    font-size: 3.5em;
    color: transparent;
    text-align: left;
  }

  .main footer a::after {
    display: none;
  }
}
/*********************************
Sidebar Section
*********************************/

.sidebar h3 {
  margin: 0 0 0.6em;
  font-size: 1.5em;
  font-weight: 900;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar a:link,
.sidebar a:visited {
  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 400px) {
  .sidebar {
    position: relative;
    width: 24em;
    margin: 0 auto 12em;
    padding: 0 4.5em;
    background: url(i/layer-middle.svg) repeat-y center top;
  }

  .sidebar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2em;
    left: 0;
    bottom: -2em;
    background: url(i/layer-frame.svg) no-repeat center bottom;
  }
}

@media (min-width: 800px) and (max-width: 1366px) {
  .sidebar {
    margin-top: 2em;
    padding:  2em;
    width: 46.7em;
    height: 25em;
    background: none;
  }

  .sidebar::after {
    background: none;
  }

  .design-selection,
  .design-archives,
  .zen-resources {
    position: absolute;
    width: 23em;
    padding: 1em 4.5em 0.5em !important; /* Otherwise overwritten by default selector */
    background: url(i/layer-middle.svg) repeat-y center top;
  }

  .design-selection::before,
  .design-archives::before,
  .zen-resources::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30em;
    left: 0;
    top: -30em;
    background: url(i/layer-frame.svg) no-repeat center 28em,
                url(i/hook3.svg) no-repeat center bottom / 19em;
    z-index: -1;
  }

  .design-selection::after,
  .design-archives::after,
  .zen-resources::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2em;
    left: 0;
    bottom: -2em;
    background: url(i/layer-frame.svg) no-repeat center bottom;
  }
}

@media (min-width: 1367px) {
  .sidebar {
    position: absolute;
    width: 44em;
    height: 34em;
    top: 0;
    left: -37em;
    margin: 0;
    padding: 3.8em 3.2em;
    background: url(i/layer.svg) no-repeat center top / 100% 100%;
    transform: perspective(1100px) rotateY(45deg);
    transition: transform 1s linear,
                top 1s linear 1s;
  }

  .sidebar:hover {
    transform: perspective(1100px) rotateY(0deg);
    top: 3em;
  }

  .sidebar::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 30em;
    left: 0;
    top: -27em;
    background: url(i/hook3.svg) no-repeat center bottom / 19em;
    z-index: -1;
  }

  .design-archives ul > li,
  .zen-resources ul > li {
    margin-bottom: 0.7em;
  }

  .sidebar::after {
    background: none;
  }
}

/*********************************
Design Selection Section
*********************************/

.design-selection {
  padding: 0 0.4em;
}

.design-selection ul > li{
  padding: 0 0 0.6em;
  text-align: left;
  font-size: 1.2em;
}

.designer-name {
  display: block;
  height: 1.2em;
  padding: 0 0.1em;
  text-align: left;
  background-color: #ffffff;
  border-radius: 2px;
}

.design-selection .designer-name:link,
.design-selection .designer-name:visited {
  color: #000000;
}

@media (min-width: 800px) and (max-width: 1366px) {
  .design-selection {
    top: 0;
    left: 0;
  }
}

@media (min-width: 1367px) {
  .design-selection {
    position: absolute;
    width: 57%;
  }

  .design-selection h3 {
    text-align: left;
  }

  .design-selection ul > li {
    position: relative;
    font-size: 1em;
    padding: 0;
  }

  .design-selection ul > li > a:first-child {
    /* Inline-block is needed to set margin */
    display: inline-block;
    margin: 0.2em 0;
  }

  .designer-name {
    position: relative;
    padding: 0;
    height: 1em;
    background-color: #111111;
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.5em;
    z-index: 1;
    text-indent: 100%;
    animation: slide 9s linear infinite running;
  }

  .designer-name:hover {
    animation-play-state: paused;
  }

  .designer-name::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    border: 1px solid #000000;
    z-index: -1;
  }

  .design-selection .designer-name:link,
  .design-selection .designer-name:visited {
    color: #fff;
  }

  /* Individual adjustments to animation for each designer name */

  .design-selection ul > li:nth-child(1) .designer-name {
    animation-duration: 12s;
    animation-delay: 0s;
  }

  .design-selection ul > li:nth-child(2) .designer-name {
    animation-duration: 7.9s;
    animation-delay: 0s;
  }

  .design-selection ul > li:nth-child(3) .designer-name {
    animation-duration: 7.5s;
    animation-delay: 0s;
  }

  .design-selection ul > li:nth-child(4) .designer-name {
    animation-duration: 12s;
    animation-delay: 0.15s;
  }

  .design-selection ul > li:nth-child(5) .designer-name {
    animation-duration: 7s;
    animation-delay: 0s;
  }

  .design-selection ul > li:nth-child(6) .designer-name {
    animation-duration: 12s;
    animation-delay: 0.3s;
  }

  .design-selection ul > li:nth-child(7) .designer-name {
    animation-duration: 7.9s;
    animation-delay: 0.1s;
  }

  .design-selection ul > li:nth-child(8) .designer-name {
    animation-duration: 12s;
    animation-delay: 0s;
  }

}

/* Keyframes for designer name animation */

@keyframes slide {
  0% {
    text-indent: 100%;
  }

  80% {
    text-indent: 0;
  }

  87% {
    text-indent: -50%;
  }

  /* Short pause before restarting */
  100% {
    text-indent: -50%;
  }
}

/*********************************
Design Archives Section
*********************************/

.design-archives ul > li{
  padding: 0 0 0.6em;
  font-size: 1.2em;
}

@media (min-width: 800px) and (max-width: 1366px) {
  .design-archives {
    right: 0;
    top: 0;
  }
}

@media (min-width: 1367px) {
  .design-archives {
    position: absolute;
    width: 25%;
    right: 3em;
  }
}

/*********************************
Zen Resources Section
*********************************/

.zen-resources ul > li{
  padding: 0 0 0.6em;
  font-size: 1.2em;
}

@media (min-width: 800px) and (max-width: 1366px) {
  .zen-resources {
    right: 0;
    top: 13.6em;
  }
}

@media (min-width: 1367px) {
  .zen-resources {
    position: absolute;
    width: 25%;
    right: 3em;
    top: 12em;
  }
}
/*********************************
Keyframes
*********************************/

@keyframes on-load-400 {
  from {top: -8em;}
  to {top: 0;}
}

@keyframes on-load-800 {
  from {top: 10em;}
  to {top: 0;}
}

@keyframes main-content-1367 {
  0% {opacity: 0;}
  15%, 95% {opacity: 1;}
  100% {opacity: 0;}
}


@keyframes main-transition-in-1367 {
  from {top: -800px;}
  to {top: 60px;}
}

@keyframes main-transition-out-1367 {
  from {top: 60px;}
  to {top: -800px;}
}